.header_div {
    background-color: #0080ff;
    margin: 0px;
    height: 50px;
    color: #fff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    padding: 10px 15px 0px;
}
